.banner{
    position: relative;
    background-image: url('../../img/bannerimg.svg');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    
}
